@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
:root {
  /* *colors */
  --Dark-cyan: #19a2ae;
  --Very-dark-desaturated-blue: #2d3248;
  --Dark-grayish-blue: #6a6f81;
  --Dark-gray: #969696;
  /* *fonts */
  --ff-main: "Kumbh Sans", sans-serif;
  --fs-main: 1.125rem;
  --fw-400: 400;
  --fw-700: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  background-color: var(--Dark-cyan);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.main-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* top: 0;
    left: 0; */
}
.pattern {
  position: absolute;
  max-width: 1000px;
  max-height: 1000px;
}
.pattern.top {
  top: -500px;
  left: -500px;
}
.pattern.bottom {
  right: -500px;
  bottom: -500px;
}
.wrapper {
  max-width: 1440px;
  text-align: center;
}
.card {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  background-color: white;
  border-radius: 0.9375rem;
  overflow: hidden;
  box-shadow: 0 50px 100px #00000026;
}
.card-background img {
  display: block;
  max-width: 100%;
}
.card-content {
  position: relative;
  padding: 4rem 0 2rem 0;
}
.card-content img {
  max-width: 100%;
  max-width: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  border: 5px solid white;
}
h1 {
  font-size: var(--fs-main);
  color: var(--Very-dark-desaturated-blue);
  font-weight: var(--fw-700);
  margin-bottom: 0.5rem;
}
span {
  font-weight: var(--fw-400);
  color: var(--Dark-grayish-blue);
  margin-left: 8px;
}
.location {
  color: var(--Dark-grayish-blue);
  font-size: 0.875rem;
}
hr {
  margin: 1.5rem 0;
  border: none;
  height: 1px;
  background-color: var(--Dark-grayish-blue);
  opacity: 0.3;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.items p:first-child {
  font-size: var(--fs-main);
  color: var(--Very-dark-desaturated-blue);
  font-weight: var(--fw-700);
  margin-bottom: 4px;
}
.items p:last-child {
  font-size: 0.625rem;
  color: var(--Dark-grayish-blue);
  letter-spacing: 1.5px;
}
@media (max-width: 375px) {
  .pattern {
    max-width: 500px;
    max-height: 500px;
  }
  .pattern.top {
    top: -250px;
    left: -250px;
  }
  .pattern.bottom {
    right: -250px;
    bottom: -250px;
  }
}
